# Dependencies
node_modules/

# Build output
dist/
tmp/
out-tsc/

# Angular cache
.angular/

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-workspace

# Environment
.env
.env.*
!.env.example
